.bg-custom-img {
    background-image: url("https://img.freepik.com/free-vector/customer-support-illustration_23-2148884662.jpg?w=740&t=st=1696627014~exp=1696627614~hmac=71ae3273556106028d5a9e8bb5315fa9b718ffb02b2daea64a41c56c945b2b64");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}